<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Distributed App</title>
</head>
<body>
	<h1>Multiplication App</h1>
	<form action="/multiply" method="POST">
		<label for="number">Enter a number:</label>
		<input type="number" id="number" name="number" required>
		<button type="submit">Calculate</button>
	</form>
    <h1>Addition App</h1>
    <form action="/add" method="POST" enctype="multipart/form-data">
        <label for="number">Enter a number:</label>
        <input type="number" id="number" name="number" required>
        <button type="submit">Calculate</button>
    </form></body>
</html>
